@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: "Figtree", sans-serif;
  background-color: rgba(24, 28, 36, 0);
  background-image:
    linear-gradient(
      145deg,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.5) 45%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(circle at 20% 20%, rgba(24, 28, 36, 0.25), transparent 55%);
  background-blend-mode: screen;
  backdrop-filter: blur(6px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Utilidades adicionales */
.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transition-all {
  transition: all 0.3s ease;
}
